<div class = "row">
  <div class = "image-container">
    <img src="https://steelform.com/wp-content/uploads/2017/03/testimonial-avatar-150x150.jpg" alt="user_image">
  </div>

  <div class = "user-content">
    <a href='/users/<%= user.id %>'><h2 class = "user-name"><%= user.name %></h2></a>
    <p class= "post-count">Number of posts <%= user.post_counter %></p>
  </div>
</div>

<%= yield %>
