<%= render partial: 'shared/user_layout', locals: {user: @user} %>
<% @posts_by_user.each_with_index do |post, index| %>
  <%= render partial: 'shared/post_layout', locals: {post: post, index: index} %>
  <div class="comment-section">
  <% Comment.where('post_id = ?', post.id).each do |comment| %>
    <%= render partial: 'shared/comment', locals: {comment: comment} %>
  <% end %>
  </div>
<% end %>
<div class="all-posts-cta">
<button>Pagination</button>
</div>
<%= render partial: 'shared/footer' %>